doctype html
html
  head
    title フォルダー一覧 - ESFilter
    meta(name="viewport" content="width=400")
    style.
      li {
        line-height: 1.5em;
      }
  body
    include _header.pug
    h1 フォルダー一覧
    hr
    ul
      for folder in param.folders
        li
          a(href="images/" + folder)=folder
    include _footer.pug
