doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title ログ - ESFilter
  body
    include _header.pug
    h1 ログ
    hr
    ul
      for line in param.log
        li=line
    include _footer.pug
