doctype html
html
  head
    title ログ - ESFilter
  body
    p
      a(href=".") トップ
      =" | "
      a(href="filters") フィルター設定
      =" | "
      a(href="log") ログ
    h1 ログ
    hr
    ul
      for line in param.log
        li=line
    hr
    p
      a(href=".") トップ
      =" | "
      a(href="filters") フィルター設定
      =" | "
      a(href="log") ログ
