doctype html
html
  head
    title 設定 - ESFilter
    style.
      th {
        background-color: silver;
      }
      table, td, th {
        border: 1px solid gray;
      }
      td {
        width: 10em;
      }
  body
    include _header.pug
    h1 設定
    hr
    form(action="settings" method="post")
      table
        tbody
          tr
            th ページあたりに表示する画像数
            td
              select(name="images_per_page")
                for n in [20, 50, 100, 200]
                  if n === param.imagesPerPage
                    option(value=n selected="selected")=n
                  else
                    option(value=n)=n
          tr
            th 検索時に似た文字を同一として扱う
            td
              if param.enableFuzzySearch
                input(type="checkbox" name="enable_fuzzy_search" checked="checked")
              else
                input(type="checkbox" name="enable_fuzzy_search")
          tr
            th(colspan="2")
              input(type="submit")
    hr
    ul
      li
        form(action="settings/refresh" method="post")
          ="検索インデックスをリフレッシュする "
          input(type="submit" value="実行")
      li
        form(action="settings/revert_unmatched" method="post")
          =param.unmatcheddir
          =" の中のすべての画像を "
          =param.unclassifieddir
          =" へ戻す "
          input(type="submit" value="実行")
    include _footer.pug
